<form name="desplegable" method="post"> 
        <input type="text" list="libros" placeholder= "&#128270;    Búsqueda de libros" class="desplegableBusqueda"/>
        <datalist id="libros">
          <option>Relatos eróticos</option>
          <option>Todo o nada</option>
          <option>Hazme disfrutar</option>
          <option>El contrato</option>
          <option>La sumisa insumisa</option>
          <option>Pídeme lo que quieras</option>
          <option>50 sombras de Grey</option>
          <option>Atada</option>
          <option>Los límites del deseo</option>
          <option>Lujuria de extrarradio</option>
        </datalist>
      </form>