<nav>
    <ul>
      <li>Home <a href="#"></a></li>
      <li>Nuevo libro <a href="#"></a></li>
      <li>Accesorios <a href="#"></a></li>
     </ul>
  <input type="search" id="buscador" name="buscador"  placeholder="Busqueda de libros">
</nav>


