<section>
    <label for="access">Accesorio</label>
    <input list="accessList" type="text" id="access" name="access" placeholder="Elija opción..." />
    <datalist id="accessList">
        <option label="Gel" value="Gel"></option>
        <option label="Juguete" value="Juguete"></option>
        <option label="Disfraz" value="Disfraz"></option>
    </datalist>
</section>