{{> barraBuscador/barraSuperior}}

<form action="/FormNewBook/createBook" method="get">
    <fieldset id="campoNuevoLibro">
                {{> editar/newLibro}}
    </fieldset>

    <button type="submit">Enviar</button>
    <button type="reset">Reset</button>
</form>