{{> barraSuperior}}

<form action="#" method="get">
    <fieldset id="campoNuevoLibro">
                {{> newLibro}}
    </fieldset>

    <button type="submit">Enviar</button>
    <button type="reset">Reset</button>
</form>