{{> barraBuscador/barrasuperior2}}

<form action="" method="post">
    <fieldset>
        <legend>Datos del nuevo libro</le<button type="submit">Enviar</button>gend>
        {{> editar/editarlibro}}
    </fieldset>

    
    <button type="reset">Reset</button>
</form>