nav{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-around;
    color: rgb(255, 15, 15);
    text-shadow: 1px 1px rgb(80, 56, 56);
    
  }
  
  
  h1{
    font-size: 4rem;
    width: 379px;
    margin: 0px;
    padding: 4px;
    list-style: none;
    display: inline;
     }
  
  
  .enunciado{
      width: 1040px;
      height: 65px;
     color: red;
     display: flex;
     align-content:stretch;
     font-family: 'Yeon Sung', cursive;
     text-align:justify;
     padding: 27px;
  }
  
  .boton_personalizado{
      text-decoration: none;
      padding: 5px;
      font-size: 40px;
      font-family: 'Yeon Sung', cursive;
      color: #0f0f0f;
      background-color:#EB5757;
      border-radius: 6px;
      border: 2px solid #0d0d0e;
      
    }
    .boton_personalizado:hover{
      color: #fa1b07;
      background-color: white;
    }
  