*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.portadaDetalle2{
    display: flex;
    margin-left: 3rem;
    margin-top: -33rem;
    margin-bottom: 3rem;
    border: none;
    padding-left: 1rem;
}