nav{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-around;
    color: rgb(255, 15, 15);
    text-shadow: 1px 1px rgb(80, 56, 56);
    
}


li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none;
    display: inline;
        }

body{
    background-image: url(../Imagenes/foto1.png);
}

   